<div class="film-details__wrap">
  <div class="film-details__image-placeholder">
    <img [src]="getImageService.getImage(film.poster_path)" alt="" class="film-details__image">
  </div>
  <div class="film-detail__half">
    <ul class="film-details">
      <li>Title: {{film.title}}</li>
      <li>Raiting: {{film.vote_average}}</li>
      <li>Release: {{film.release_date}}</li>
      <li>Language: {{film.original_language}}</li>
      <li>Description: {{film.overview}}</li>
    </ul>
  </div>
</div>